<html>
<head>
</head>
<body class = "bg-slate-800 h-screen w-screen overflow-hidden">

  <!--header-->
  <div class="flex flex-row w-full">
    <!--side menu-->
    <button class="w-10">
       <img src="../assets/menu.png" alt="">
    </button>
    <!--search-->
    <input class = "bg-slate-300 w-4/6 h-12 rounded-l-lg ml-[8%]"
    type="text" name="search" (keydown.enter)="search(query)" placeholder="find a song" [(ngModel)]="query">
    <button class = "bg-lime-900 rounded-r-lg w-20 h-12" (click)="search(query)">search</button>
    <!--icons-->
    <button class = "w-15 h-12 absolute top-0 right-0 text-right">
        <img src="../assets/account.png" class="w-15 h-12">
    </button>

  </div>

  <div *ngIf="loading" wire:loading class="absolute inset-1/2 mr-2 mt-2">
    <svg class="animate-spin h-64 w-64 rounded-full bg-transparent border-2 border-transparent border-opacity-50" style="border-right-color: white; border-top-color: white;" viewBox="0 0 24 24"></svg>
  </div>

  <div *ngIf="this.show_control">
    <app-audio-control play_status="{{play_status}}"></app-audio-control>
    <audio id="music">
      <source src="{{song_data}}" type="audio/wav">
    </audio>
  </div>

  <!--list of -->
  <div *ngIf="this.show_results" class="overflow-auto h-full m-5">
    <app-search-list
      [results]="result_list"
      (choice)="stream($event)"
      ></app-search-list>
  </div>
</body>
<script>

</script>
</html>
